.crackContainer {
    min-height: 100vh;
    background-color: #5A88CC;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 20px;
}

.crackType {
    position: relative;
    height: 90vh;
    width: 80vw;
    border-radius: 20px;
    background-color: white;
    margin: 20px 30px 20px 30px;
    /* box-shadow: 1px 1px 12px 2px; */
}
